<!doctype html>
<html lang="en-us">

<head>
  <title>Polymer App</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <link href="styles/main.css" rel="stylesheet" type="text/css" />

  <script src="lib/platform/platform.js"></script>
  <script src="lib/angular/angular.min.js"></script>

  <!-- polymer assets -->
  <link rel="import" href="lib/core-icons/core-icons.html">
  <link rel="import" href="lib/core-toolbar/core-toolbar.html">
  <link rel="import" href="lib/core-scaffold/core-scaffold.html">
  <link rel="import" href="lib/core-header-panel/core-header-panel.html">
  <link rel="import" href="lib/core-menu/core-menu.html">
  <link rel="import" href="lib/core-item/core-item.html">
  <link rel="import" href="lib/core-icon-button/core-icon-button.html">
  <link rel="import" href="lib/paper-fab/paper-fab.html">
</head>

<body unresolved touch-action="auto" ng-app="todoApp">

  <core-drawer-panel>
    <core-header-panel drawer>
      <core-menu>
        <core-item icon="account-box" label="account">
          <a href="#" target="_self"></a>
        </core-item>
        <core-item icon="favorite" label="favorites">
          <a href="#" target="_self"></a>
        </core-item>
        <core-item icon="settings" label="settings">
          <a href="#" target="_self"></a>
        </core-item>
      </core-menu>
    </core-header-panel>

    <core-header-panel main>
      <core-toolbar>
        <core-icon-button id="menu-button" icon="menu" onclick="toggleDrawer();"></core-icon-button>
        <span flex>todo</span>
        <core-icon-button icon="search"></core-icon-button>
      </core-toolbar>
      <div main>
        <div class="content" ng-controller="TodoListController as todos">
          <paper-fab id="add-item" icon="add" class="mini" ng-click="todos.addItem()"></paper-fab>

          <div class="card" ng-repeat="item in todos.list | orderBy:'-index'">
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>

        </div>
      </div>
    </core-header-panel>
  </core-drawer-panel>

  <script src="app.js"></script>
  <script src="controllers/todo.controller.js"></script>
</body>

</html>
